@import 'flowbite';
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #242424;
}
@font-face {
  font-family: 'KGPictureYou';
  src: url('./assets/fonts/KGPictureYou.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
